body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.contact {
  width: 80%;
  border: 2px solid #4b6584;
  border-radius: 15px;
  margin: 20px auto;
  padding: 5%;
  text-align: center;
}
.contact h2 {
  color: #fc5c65;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 0;
}
.contact p {
  color: rgb(0, 0, 0);
}
.contact form {
  margin-top: 25px;
}
.child_form {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}
.child_form label {
  display: block;
  margin-bottom: 5px;
}
.child_form input,
.child_form select,
.child_form textarea {
  border: 1px solid #c1bdbd;
  border-radius: 5px;
  padding: 10px 3%;
  width: 94%;
  font-family: 'Poppins', sans-serif;
}
.child_form select {
  width: 100%;
}
.child_form input[type='button'] {
  width: 200px;
  background: #eb3b5a;
  border: 1px solid #eb3b5a;
  color: #ffffff;
  cursor: pointer;
}
.child_form input[type='button']:hover {
  width: 200px;
  background: #fc5c65;
  border: 1px solid #fc5c65;
  color: #000000;
}
.child_form:last-child {
  margin-bottom: 0px;
}
